googletrans
selenium
pandas
chromedriver
chromedriver-binary
gspread
gspread_formatting
oauth2client
requests~=2.27.1
notion_client
gspread_dataframe
tweepy
pytz
ndjson
bs4~=0.0.1
pytrends
requests_html
flask
gunicorn
deepl
asyncio
pyppeteer~=1.0.2
python-dateutil
beautifulsoup4~=4.11.1
httpx==0.19.0
pandas
httpcore
nlplot
mecab-python3